@model IASI_IntelligentIndustrialSolutions.Models.Previsao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Previsao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Umidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Umidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VelocidadeVento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VelocidadeVento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirecaoVento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirecaoVento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PressaoAtmosferica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PressaoAtmosferica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicaoMeteorologica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicaoMeteorologica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrevisao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
