@model IEnumerable<IASI_IntelligentIndustrialSolutions.Models.Previsao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadeVento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirecaoVento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PressaoAtmosferica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicaoMeteorologica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadeVento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirecaoVento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PressaoAtmosferica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondicaoMeteorologica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrevisao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrevisao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrevisao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
